$primary-color:   black;
$primary-color-dark: darken($primary-color,10%);
$primary-color-light: lighten($primary-color,10%);
$primary-color-highlight:  lighten($primary-color,75%);
$primary-font-color: white;
$primary-contrast-color: white;
$link-highlight-color:  #1a8cff;
